<div class="container">
  <div class="col-md-4"></div>
   <div class="col-md-4">
<h1>Editing Remainder</h1>

<%= render 'form' %>

<%= link_to 'Show', @remainder %> |
<%= link_to 'Back', remainders_path %>
</div>
</div>