/*
 * require jquery-ui/core
 * require jquery-ui/theme
 * require dataTables/src/demo_table_jui
 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datetimepicker
 *= require font-awesome
 *= require_tree .
 *= require_self

 */
.menu{ margin: 0px; }
.pad-5{ padding: 5px; }
.title{ font-weight: bold; text-align: center; color: #2c7578; 
        padding: 15px; border: 1px solid #ddd; margin: 0px; text-transform: capitalize;}
.wrapper{ border: 1px solid #ddd; padding: 15px; }
.icon-pad{ padding: 5px 15px 5px 15px;}
.danger-bg { background: #E3685F; }
.info-bg { background: #679AA5; }

